@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Figtree:wght@600;800&family=Inter:wght@400;600;700&family=Oswald:wght@700&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

body main .hero-section {
  width: 100dvw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg2.jpg");
  background-size: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  position: relative;
}
body main .hero-section .bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.7;
}
body main .hero-section .navbar {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: relative;
  z-index: 3;
}
body main .hero-section .navbar h2 {
  font-size: 25px;
  color: #fff;
}
body main .hero-section .navbar nav ul {
  display: flex;
}
body main .hero-section .navbar nav ul li {
  padding: 2px;
  list-style: none;
  border: 1px solid #fff;
  border-radius: 20px;
}
body main .hero-section .navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 3px 6px;
}
body main .hero-section .navbar nav ul li:hover {
  background-color: #e93c1a;
  color: #fff;
  cursor: pointer;
}
body main .hero-section .text-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  bottom: 40px;
}
body main .hero-section .text-wrapper h1 {
  padding: 100px 10vw;
  font-size: 70px;
  text-transform: uppercase;
  color: #fff;
}
body main .about {
  width: 100dvw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .about .About-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main .about .About-info h2 {
  text-transform: uppercase;
  font-size: 20px;
  opacity: 0.5;
}
body main .about .About-info p {
  max-width: 100%;
  font-size: 40px;
}
body main .about .About-info .btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #C3FB4D;
  border-radius: 20px;
  font-family: "Oswald", sans-serif;
}
body main .about .About-info .btn:hover {
  background-color: #375002;
  color: #fff;
  cursor: pointer;
}
body main .vision {
  width: 100dvw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/bg3.jpg");
  background-size: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  position: relative;
}
body main .vision .bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.7;
}
body main .vision .vision-info {
  width: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 3;
  top: 25%;
  left: 24%;
}
body main .vision .vision-info h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #C3FB4D;
}
body main .vision .vision-info p {
  max-width: 100%;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
body main .vision .vision-info .btn-2 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 20px;
  font-family: "Oswald", sans-serif;
  color: black;
}
body main .vision .vision-info .btn-2:hover {
  background-color: rgba(78, 75, 75, 0.485);
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */